{% extends "base.html" %}

{% block titre %}
Paramètres
{% endblock %}

{% block contenu %}

<div class="panel">

    <h2>
        Seuils SENTINEL-X
    </h2>

    <div class="info-line">
        <span>Température maximale</span>
        <strong>40 °C</strong>
    </div>

    <div class="info-line">
        <span>Humidité maximale</span>
        <strong>70 %</strong>
    </div>

    <div class="info-line">
        <span>Échecs reconnaissance</span>
        <strong>3</strong>
    </div>

    <div class="info-line">
        <span>Seuil SFace</span>
        <strong>0.30</strong>
    </div>

</div>

{% endblock %}